<% layout('/layouts/boilerplate') -%> 

<% for(let list of listing) { %>
  <a href="/l/<%= list._id %> ">
    <div class="flex my-3 mx-2 pb-5 border-b-[0.3px] border-solid border-gray-300">
      <div class="relative bg-[#787777] rounded-2xl">
        <img class="h-[175px] w-[230px] object-cover rounded-2xl mix-blend-overlay" src="<%= list.img %> " alt="house-image">
        <div class="absolute top-3 right-3">
          <lord-icon
            src="https://cdn.lordicon.com/pnhskdva.json"
            trigger="hover"
            colors="primary:#ffffff"
            style="width:20px;height:20px">
          </lord-icon>
        </div>
      </div>

      <div class="flex flex-col p-4">
        <div>
          <h5 class="text-xs"><%= list.location %> </h5>
          <h3 class="font-bold"><%= list.name %> </h3>
        </div>

        <div>
          <p class="font-normal text-xs text-gray-400"><%= list.guest %>  guests</p>
          <lord-icon
            src="https://cdn.lordicon.com/whttoese.json"
            <% if(list.review.length > 0) { %> 
            trigger="loop"
            delay="1000"
            <% } else { %> 
            trigger="morph"
            <% } %> 
            class="p-1 mr-1"
            colors="primary:#ee6d66,secondary:#FF5A5F"
            style="width:22px;height:22px">
          </lord-icon>

          <%= list.review.length %> Reviews
          <h4 class="font-semibold">₱<%= list.price %>/night</h4>
        </div>
      </div>
    </div>
  </a>
<% } %> 
